@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Lora:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap");

p,
span {
  margin: 0px;
  padding: 0px;
}

.btn-group {
  display: flex;
  gap: 30px;
}

.gold-botns-butn {
  // border-radius: 108px !important;
  // border: 1px solid #FFFFFF;
  // background-color: #f0f0f2;
  background-color: transparent;
  padding: 8px 38px;
}

.fixAmount {
  color: #ffffff;
}

.silver-botns-butn {
  border-radius: 108px !important;
  border: 1px solid #000000;
  background-color: transparent;
  padding: 8px 38px;
}

// .btn-group .btn:not(:last-child):not(.dropdown-toggle) {
//   border-top-right-radius: initial;
//   border-bottom-right-radius: initial;
// }

.Real-Time-Gold {
  font-family: Inter;
  font-size: 18px;
  color: #e1e8f0;
  font-weight: 400;
  margin-bottom: 16px;
}

.firstbox {
  border-radius: 5px;
  // border: 1px solid #464E8A;
  padding: 12px 0px 12px 0px;

  //  background-color: #192259;

 .spot-bg {
     background-color: #001f3b;

  }

  .spot-gold-bg {
     background-image: url(/assets/spot-gold-bg.png);

  }

  .spot-silver-bg {
     background-image: url(/assets/spot-silver-bg.png);
  }

  .spot-rupee-bg {
     background-image: url(/assets/spot-rupee-bg.png);

  }
}

.checkColor {
  background-color:
    #010A43;
}

.spot-gold {
  // font-family: Inter;
  text-align: center;
  background-size: 100% 100%;

  border-radius: 4px;

  font-size: 18px;
  font-weight: 400;
  padding: 5px 0px;
  color: #440c0c;

}
.spot-silver {
  // font-family: Inter;
 text-align: center;
  background-size: 100% 100%;
  // border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 0px;
  color: #000000;
}

.spot-box {
  // font-family: Inter;
  text-align: center;
  background-size: 100% 100%;

  // border-radius: 4px;

  font-size: 18px;
  font-weight: 400;
  padding: 5px 0px;
  color: #f3c444;

}

.price-money {
  // font-family: Inter;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-top: 8px;
  background-color: #001f3b;
  padding: 5px 0px;
  // border-radius: 4px;
  // border: 1px solid #FFFFFF80;
}

.price-money-one {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-top: 8px;
  background-color: #001f3b;
  padding: 5px 0px;
  // border: 1px solid #FFFFFF80;
  // border-radius: 4px;
}

.price-money-two {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-top: 8px;
  background-color: #001f3b;
  padding: 5px 0px;
  // border: 1px solid #FFFFFF80;
  // border-radius: 4px;
}

.commedies-div {
  background: #fefae033;
  border-radius: 10px;
  margin-top: 16px;
}

.commedies-div-silver {
  background: #d6d9df1a;
  border-radius: 10px;
  margin-top: 16px;
}

.my-date-sec-div {
  display: flex;
  justify-content: space-between;
  background: rgba(254, 250, 224, 0.8);
  padding: 12px;
  border-radius: 10px 10px 0px 0px;
}

.my-date-sec-div-silvers {
  display: flex;
  justify-content: space-between;
  background: rgba(214, 217, 223, 0.8);
  padding: 12px;
  border-radius: 10px 10px 0px 0px;
}

.commedies-paragraph {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  color: #E7E4E4;
  padding-bottom: 23px;
}

.date-time-commed {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  color: #FAAD39;
  text-align: center;
  margin-top: 32px;
  padding-bottom: 10px;
}

.day-commed {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}


.hallmark-main-section {
  display: flex;
  align-items: center;
}

.gold-busket {
  width: 90px;
  height: 90px;
}

.gold-busket-div {
  text-align: center;
  padding: 11px 0px 11px 0px;
  border-radius: 1px solid #464E8A;
}

.gold-busket1 {
  display: flex;

  padding: 10px 60px 10px 60px;
}

.price-gold1 {
  // padding: 10px 60px 60px 60px;
  text-align: center;
}

.gold-busket-div p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  color: #E7E4E4;
  margin-top: 10px;
}

.box {
  // background-color: #192259;
  border-radius: 15px;
  // border: 1px solid #464E8A;
  // padding: 27px 27px 27px 46px;

  .live-gold-bg {
     background-color: #7d6d32;
    // background-image: url(/assets/live-gold-bg.png);

  }

  .live-silver-bg {
     background-color: #949691;
    // background-image: url(/assets/live-silver-bg.png);
  }

  // .gold {
  //   box-shadow: 0px 0px 14px 0px #e1b73747;
  //   border: 1px solid #E1B737B3;
  // }

  // .silver {
  //   box-shadow: 0px 0px 14px 0px #ffffff2e;
  //   border: 1px solid #a8aab1ba;
  // }

}

.book-gold-btn {
  color: #FAAD39;
  background-color: #192259;
  border: 1px solid #464E8A;
  border-radius: 5px;
  padding: 9px 35px;
}

.buy-gold-btn {
  color: #FAAD39;
  background-color: #192259;
  border: 1px solid #464E8A;
  border-radius: 5px;
  padding: 9px 35px;
  // margin-left: 20px;
}

.buy-silver-btn {
  color: #E7E4E4;
  background-color: #192259;
  border: 1px solid #464E8A;
  border-radius: 5px;
  padding: 9px 35px;
  // margin-left: 20px;
}

.gold-live {
  color: #E7E4E4;
  font-weight: 600;
  font-size: 14px;
  font-family: "Inter";
}

.spot-para {
  font-weight: 700;
  font-size: 44px;
  padding-top: 14px;

}

.gold-live-main {
  // margin-left: 30px;
  margin-bottom: 16px;
  background-color: #001f3b;
  text-align: center;
  margin-top: 10px;
  padding: 10px 0px;
  // border-radius: 6px;
  // box-shadow: 0px 0px 14px 0px #e1b73747;
}

.gold-busket-div h6 {
  // font-family: "Inter";
  font-size: 25px;
  font-weight: 700;
  color: #00b386;
  margin-top: 8px;
}

.gold-busket-div-silver {
  text-align: center;
  padding: 11px 0px 11px 0px;
}

.silver-busket1 {
  display: flex;
  padding: 20px;
}

.Silver-price1 {
  padding: 10px 40px 40px 40px;
}


.validationError {
  color: red;
}

.gold-busket-div-silver p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  color: #E7E4E4;
  margin-top: 10px;
}

.gold-busket-div-silver h6 {
  // font-family: "Inter";
  font-size: 25px;
  font-weight: 700;
  color: #eb5b3c;
  margin-top: 10px;
}

.hallmark-main-section img {
  width: 20px;
  height: 20px;
}

.garantee-hallmark {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}

.twentyfourcarat {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}

.book-buy-botns {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 24px;
}

.book-botn {
  width: 30%;
  padding: 9px;
  border: 1px solid #073434;
  border-radius: 5px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  color: #073434;
  background: transparent;
}

.buy-botn {
  width: 30%;
  padding: 9px;
  background: #073434;
  border-radius: 5px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  outline: none;
}

.maindiv {
  // margin-top: 90px;
  width: 50%;
  margin: 0px auto;
}

.our-products-section {
  background-color: #192259;
  margin-top: 40px;
  padding: 40px;
}

.products-paragraph {
  font-family: "Lora";
  font-size: 40px;
  font-weight: 600;
  // color: #ffffff;
  color: white;
  text-align: center;
}

.bhavanimg {
  width: 180px;
  height: 33px;
  margin-top: 10px;
}

.goldbarsimg {
  width: 100%;
  border-radius: 10px;

}

.goldbars-paragraph {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-top: 8px;
}

.phone-card {
  background-color: #030F55;
  border-radius: 5px;
  width: 100%;
  padding: 24px;
  height: 217px;
  border: 1px solid #000;
  transition: 0.5s;
}

.phone-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.contact-information {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px 28px 0px;
  flex-wrap: wrap;
  /* Allow wrapping to a new line if there are too many items */
  gap: 10px;
}

.contact-number {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  color: #e1b737;
  text-align: center;
}

.telecontact {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-left: 8px;
  text-decoration: none;
}

.contact-span {
  display: flex;
  align-items: center;
}

.contact-span img {
  width: 30px;
  height: 30px;
}

.time-span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-time-para {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-left: 8px;
  text-decoration: none;
}

.gold-limited-para {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  color: black;
}

.gold-limited-para a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  color: #fff;
}

.bookgold-main-btn {
  display: flex;
  gap: 20px;
  justify-content: center;
}



.home-address-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customsection {
  margin-top: 40px;
}

.images-section {
  margin-top: 40px;
}

.download-section {
  background-image: url("/assets/Framebackgroundimage.png");
  width: 100%;
  // height: 400px;
  background-repeat: no-repeat;
  // background-position-x: right;
  // background-size: cover;
  background-size: 100% 100%;
  margin-top: 40px;
  padding: 40px 0px 40px 0px;
}

.download-paragraph {
  font-family: "Lora";
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.goldbahrath-mobileimage {
  width: 100%;
  height: 498px;
}

.myheading-models {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.pop-up-gold {
  text-align: center;
}

.buy-gold-popup {
  width: 100%;
  border-radius: 6px;
  background-color: #ffffcc;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  color: #101729;
  padding: 13px;
  border: none;
  margin-top: 40px;
}

.bts {
  font-weight: bold;
  color: green;
}

.buy-silver-popup {
  width: 100%;
  border-radius: 6px;
  background-color: rgba(246, 248, 251, 0.8);
  ;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 13px;
  border: none;
  margin-top: 40px;
}

.buy-silver-popup-valid {
  width: 100%;
  border-radius: 6px;
  background-color: rgba(214, 217, 223, 0.8);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 13px;
  border: none;
  margin-top: 40px;
}

.buy-gold-popup-valid {
  width: 100%;
  border-radius: 6px;
  background-color: #e1b737;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 13px;
  border: none;
  margin-top: 40px;
}

.formselect-gold {
  width: 100%;
  padding: 13px;
  border-radius: 6px;
  background: #192259;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  border: 1px solid #464E8A;
  margin-top: 25px;
}

.formselect-gold-second {
  width: 100%;
  padding: 13px;
  border-radius: 6px;
  background: #fcfcfc;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  border: none;
  margin-top: 24px;
}

.heading-price-gram {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  padding-top: 10px;
}

.price-popup-counter {
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  color: #e1b737;
  padding-top: 5px;
}

.price-popup-counter-second {
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  color: #e1b737;
  padding-top: 5px;
}

.btn-close {
  border: 1px solid #E7E4E4;
  background-color: #ffffff;
}

.modal-header {
  border: none;
}

#updateKyx {

  .modal-content {
    background-color: #192259;

    .modal-header {
      border: none;

      h2 {
        color: #fff;
        font-weight: 600;
        font-family: Inter;
      }
    }

    .modal-body {
      p {
        color: #fff;
        font-size: 16px;
        padding-top: 10px;
      }

      a {
        color: #fff;
        // text-decoration: underline;
      }
    }

    .modal-footer {
      border: none;
      margin: 0 auto;
    }

  }

  .btn-secondary {
    background-color: #e1b737;
    border: none;
  }


}

#Kyxpending {

  .modal-content {
    background-color: #192259;

    .modal-header {
      border: none;

      h2 {
        color: #fff;
        font-weight: 600;
        font-family: Inter;
      }
    }

    .modal-body {
      p {
        color: #fff;
        font-size: 16px;
        padding-bottom: 10px;
      }
    }

    .modal-footer {
      border: none;
      margin: 0 auto;
    }

  }

  .btn-secondary {
    background-color: #e1b737;
    border: none;
  }


}

#Kyxrejected {

  .modal-content {
    background-color: #192259;

    .modal-header {
      border: none;

      h2 {
        color: #fff;
        font-weight: 600;
        font-family: Inter;
      }
    }

    .modal-body {
      p {
        color: #fff;
        font-size: 16px;
        padding-bottom: 10px;
      }

      a {
        color: #fff;
        // text-decoration: underline;
      }
    }

    .modal-footer {
      border: none;
      margin: 0 auto;
    }

  }

  .btn-secondary {
    background-color: #e1b737;
    border: none;
  }


}

.download-divs {
  margin-top: 2rem;
  // text-align: center;
}

.group-iconsoneplay {
  margin-top: 40px;
}



@media screen and (max-width: 500px) {
  .border-box {
    height: 200px;
    margin-bottom: 10px;
  }

  .buy-silver-btn {
    padding: 7px 32px;
  }

  // .commodiates-section {
  //   display: none;
  // }

  // .web-screen {
  //     display: none;
  // }

  .maindiv {
    width: initial;

    .first-borders-box,
    .second-borders-box,
    .third-borders-box {
      padding-left: 5px;
      padding-right: 5px;
    }

    .date-time-commed {
      margin-top: 0px;
      font-size: 11px;
      padding-bottom: 0px;
    }

    .commedies-paragraph {
      margin-bottom: 0px;
      font-size: 14px;
      padding-bottom: 14px;
    }

  }

  .licence-and-certificate {
    .products-paragraph {
      font-size: 22px;
      letter-spacing: 1.5px;
    }
  }

  .box {
    // padding: 20px;
    margin-bottom: 15px;
  }

  .myclasssection {
    margin-top: 65px;
  }

  .purity-para {
    font-size: 14px;
  }

  .rupeespara {
    font-size: 15px;
  }

  .our-products-section {
    padding: 10px;
    // display: none;
  }

  .goldbarsimg {
    height: 250px;
    border-radius: 5px;
  }

  .phone-card {
    padding: 15px;
    margin-bottom: 10px;
  }

  .telecontact {
    font-size: 15px;
  }

  .goldbahrath-mobileimage {
    height: auto;
  }

  // .download-section {
  //   background-position-x: center;
  // }

  .first-borders-box {
    width: 33%;
  }

  .second-borders-box {
    width: 33%;
  }

  // .third-borders-box {
  //   width: 33%;
  // }

  .book-botn {
    width: 45%;
    border: 1px solid #e1b737;
    color: #e1b737;
  }

  .buy-botn {
    width: 45%;
    background: #e1b737;
    color: #FFFFFF;
  }


  .download-divs {
    text-align: center;
  }

  .goldbahrath-mobileimage {
    object-fit: none;
  }

  .our-products-section {
    display: none;
  }

  .download-section {
    display: none;
  }

  .Real-Time-Gold {
    margin-top: 8px;
    font-size: 14px;
    margin-bottom: 0px;
  }

  .firstbox {
    .spot-gold {
      font-size: 11px;
      font-weight: 500;
    }
  }

  .myclasssection {
    margin-top: 12px;

  }
}

@media screen and (max-width: 680px) and (min-width: 500px) {
  .border-box {
    height: 200px !important;
    margin-bottom: 10px;
  }

  .purity-para {
    font-size: 14px;
  }

  .rupeespara {
    font-size: 15px;
  }

  .our-products-section {
    padding: 10px;
    display: none;
  }

  .goldbarsimg {
    height: 250px;
    border-radius: 5px;
  }

  .phone-card {
    padding: 15px;
    margin-bottom: 10px;
  }

  .goldbahrath-mobileimage {
    height: auto;
  }

  // .download-section {
  //   background-position-x: center;
  // }
  .firstbox {
    margin-bottom: 12px;
  }

  .mobile-view {
    display: none;
  }

  .highlight {
    background-color: yellow;
  }

  .myclasssection {
    margin-top: 44px;
  }

  .maindiv {
    width: initial;
  }

  .box {
    margin-bottom: 15px;
    padding: 27px 27px 27px 75px;
  }
}

@media screen and (max-width: 768px) and (min-width: 680px) {
  // .column-ones {
  //   width: 100%;
  // }

  .border-box {
    margin-bottom: 5px;
    height: 300px;
  }

  // .columns-two {
  //   width: 100%;
  // }

  .box-col-one {
    width: 100%;
  }

  .box-col-three {
    width: 100%;
    // margin-top: 20px;
  }

  .telecontact {
    font-size: 13px;
  }

  .clock-time-para {
    font-size: 13px;
  }

  .goldbarsimg {
    height: 300px;
  }

  .mobile-view {
    display: none;
  }

  .firstbox {
    margin-bottom: 12px;
  }

  .phone-card {
    margin-bottom: 20px;
  }

  .myclasssection {
    margin-top: 26px;
  }

  .maindiv {
    width: 70%;
  }

  .box {
    padding: 27px 27px 27px 70px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  // .web-screen {
  //     display: none;
  // }

  // .column-ones {
  //   width: 100%;
  // }
  .buy-silver-btn {
    padding: 8px 20px;
  }

  .border-box {
    margin-bottom: 5px;
    height: 300px;
  }

  // .columns-two {
  //   width: 100%;
  // }

  .box-col-one {
    width: 50%;
  }

  .box-col-three {
    // width: 100%;
    width: 60%;
    margin: 0px auto;
    margin-top: 20px;
  }

  .telecontact {
    font-size: 13px;
  }

  .clock-time-para {
    font-size: 13px;
  }

  .goldbarsimg {
    height: auto;
  }

  .mobile-view {
    display: none;
  }

  .maindiv {
    width: initial;
  }

  .myclasssection {
    margin-top: 35px;
  }

  .box {
    padding: 20px;
  }

  .book-gold-btn {
    padding: 9px 28px;
  }

}

@media screen and (max-width: 1024px) and (min-width: 991px) {

  // .web-screen {
  //     display: none;
  // }
  .mobile-view {
    display: none;
  }

  .boldbotn-silver {
    margin-top: 17px;
  }

  .phone-card {
    padding: 24px 12px;
  }

  .telecontact {
    font-size: 15px;
  }

  // .column-ones {
  //   width: 100%;
  // }

  .border-box {
    margin-bottom: 5px;
    height: 300px;
  }

  // .columns-two {
  //   width: 100%;
  // }

  .box-col-one {
    width: 50%;
  }

  .box-col-three {
    // width: 100%;
    width: 60%;
    margin: 0px auto;
    margin-top: 20px;
  }

  .telecontact {
    font-size: 13px;
  }

  .clock-time-para {
    font-size: 13px;
  }

  .maindiv {
    width: initial;
  }

  .myclasssection {
    margin-top: 35px;
  }

  .box {
    padding: 20px;
  }

  .book-gold-btn {
    padding: 9px 28px;
  }
}

@media screen and (max-width:1200px) and (min-width:1024px) {
  // .gold-limited-para a{
  //   font-size: 14px;
  // }
  // .clock-time-para{
  //   font-size: 14px
  // }
  // .contact-information{
  //   flex-direction: column;
  //   margin: 2px 0px 14px 0px;
  // }

  // .contact-span{
  //   justify-content: center;
  //   margin-top: 4px;
  // }
  .mobile-view {
    display: none;
  }

  .boldbotn-silver {
    margin-top: 17px;
  }

  .phone-card {
    padding: 24px 12px;
  }

  .telecontact {
    font-size: 15px;
  }

  // .column-ones {
  //   width: 100%;
  // }

  .border-box {
    margin-bottom: 5px;
    height: 300px;
  }

  // .columns-two {
  //   width: 100%;
  // }

  .box-col-one {
    width: 50%;
  }

  .box-col-three {
    // width: 100%;
    width: 60%;
    margin: 0px auto;
    margin-top: 20px;
  }

  .telecontact {
    font-size: 15px;
  }

  .clock-time-para {
    font-size: 15px;
  }

  .myclasssection {
    margin-top: 35px;
  }

  .maindiv {
    width: initial;
  }

  .box {
    padding: 27px 27px 27px 70px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
  .mobile-view {
    display: none;
  }

  .maindiv {
    width: 70%;
  }


  .myclasssection {
    margin-top: 35px;
  }

  .buy-silver-btn {
    padding: 9px 32px;
  }

  .book-gold-btn {
    padding: 9px 32px;
  }


}

.licence-and-certificate {
  padding-top: 40px;

  .img {
    margin-top: 25px;
    // background-color: #fff;
    padding: 20px;
    border-radius: 20px;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 2560px) and (min-width: 1440px) {
  .mobile-view {
    display: none;
  }

  .myclasssection {
    margin-top: 40px;
  }

  .gold-live {
    font-size: 19px;
  }

  .buy-silver-btn {
    padding: 9px 34px;
  }
}

@media screen and (max-width: 1620px) and (min-width: 1604px) {
  .buy-silver-btn {
    padding: 9px 32px;
  }
}

.timingsAlert {
  color: red;
}
