<section class="mainclass">
  <div class="container-fluid">
    <div class="row">
      <div class="loginmaindiv">
        <form>
          <div class="admin_login_logo">
            <img src="../../assets/Gold Bharat 1.png" />
          </div>

          <div class="otp-verifys">
            <h6 class="otp-verifications">OTP Verification</h6>
            <p class="verification-code">
              Enter the verification code we just sent on your number
              <span>+91 9515206990</span>
            </p>
          </div>

          <div class="myinput-tags">
            <input type="number" class="otp-inputs" />
            <input type="number" class="otp-inputs" />
            <input type="number" class="otp-inputs" />
            <input type="number" class="otp-inputs" />
          </div>
          <div class="my-verify-div">
            <button class="verify-botns">Verify</button>
          </div>
          <div class="ResendDiv">
            <p>Didn’t received code? <span class="Resend-span">Resend</span></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- <section>
  <ng-otp-input
    (onInputChange)="onOtpChange($event)"
    [config]="{ length: 5 }"
  ></ng-otp-input>
</section> -->
