.our-products-section {
    // background-color: #192259;
    margin-top: 6rem;
    padding: 40px;
    margin-top: 120px;
  }
  .products-paragraph {
    font-family: "Lora";
    font-size: 40px;
    font-weight: 600;
    // color: #ffffff;
    color: white;
    text-align: center;
  }
  .images-section {
    margin-top: 40px;
  }
  .goldbarsimg {
    width: 100%;
  }
  .goldbars-paragraph {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-top: 8px;
  }