<section class="llp-kyc">
  <div class="mycards-sec">
    <h3 class="propertier-kyc">Proprietor KYC</h3>

    <form>
      <label class="label-business">Business KYC</label>
      <div>
        <select class="my-select">
          <option value="Proprietor">Pvt</option>
        </select>
      </div>

      <label class="label-business">Director Name</label>
      <div>
        <input class="myinputs" type="text" placeholder="e.g. Sunil" />
      </div>

      <label class="label-business">Director Mobile Number</label>
      <div>
        <input class="myinputs" type="number" placeholder="e.g. 953234xxxx" />
      </div>

      <label class="label-business">Director Aadhar Number</label>
      <div>
        <input
          class="myinputs"
          type="number"
          placeholder="e.g. 0976 9756 xxxx"
        />
      </div>

      <label class="label-business">Upload Aadhar Front Side</label>
      <div class="input-group">
        <input
          type="file"
          class="form-control myfile-input"
          id="inputGroupFile04"
          aria-describedby="inputGroupFileAddon04"
          aria-label="Upload"
        />
      </div>

      <label class="label-business">Upload Aadhar Back Side</label>
      <div class="input-group">
        <input
          type="file"
          class="form-control myfile-input"
          id="inputGroupFile04"
          aria-describedby="inputGroupFileAddon04"
          aria-label="Upload"
        />
      </div>

      <label class="label-business">Director PAN Number</label>

      <div>
        <input class="myinputs" type="text" placeholder="e.g. ABCDE1234F" />
      </div>

      <label class="label-business">Upload PAN Card</label>
      <div class="input-group input-group-lg">
        <input
          type="file"
          class="form-control myfile-input"
          id="inputGroupFile04"
          aria-describedby="inputGroupFileAddon04"
          aria-label="Upload"
        />
      </div>

      <label class="label-business">Director GST Number</label>

      <div>
        <input
          class="myinputs"
          type="text"
          placeholder="e.g. 22AAAAA0000A1Z5"
        />
      </div>

      <label class="label-business">Upload GST</label>
      <div class="input-group input-group-lg">
        <input
          type="file"
          class="form-control myfile-input"
          id="inputGroupFile04"
          aria-describedby="inputGroupFileAddon04"
          aria-label="Upload"
        />
      </div>

      <label class="label-business">Director CIN Number</label>

      <div>
        <input
          class="myinputs"
          type="text"
          placeholder="e.g. L17110MH1973PLC019786"
        />
      </div>

      <label class="label-business">Upload CIN</label>
      <div class="input-group input-group-lg">
        <input
          type="file"
          class="form-control myfile-input"
          id="inputGroupFile04"
          aria-describedby="inputGroupFileAddon04"
          aria-label="Upload"
        />
      </div>

      <div>
        <button class="next-botns">Next</button>
      </div>
    </form>
  </div>

  <!-- two-div -->

  <div class="mycards-secondiv mt-3">
    <h3 class="propertier-kyc-heading">KYC</h3>

    <form>
      <label class="label-business">Upload Your Image</label>
      <div>
        <div>
          <input type="file" id="file" class="mytext-image-file" />
        </div>
        <label for="file" class="main-upload-botns">
          <div class="text-center">
            <img src="../../assets/uploadimage.png" alt="" />
            <p class="select-file-para">Select File</p>
          </div>
        </label>
      </div>
      <div>
        <button class="next-botns-two">Next</button>
      </div>
    </form>
  </div>

  <!-- three-div -->

  <div class="mycards-third-div mt-3">
    <h3 class="propertier-kyc-heading-three">KYC</h3>
    <form>
      <label class="label-business-three">Bank Name</label>
      <div>
        <select class="my-select-three">
          <option value="Proprietor">Select Bank</option>
        </select>
      </div>

      <label class="label-business-three">A/C Number</label>
      <div>
        <input
          class="myinputs-three"
          type="text"
          placeholder="e.g. 0087737648767"
        />
      </div>

      <label class="label-business-three">IFSC Code</label>
      <div>
        <input class="myinputs-three" type="text" placeholder="e.g. CNRB0075" />
      </div>

      <label class="label-business-three">Account Holder Name</label>
      <div>
        <input class="myinputs-three" type="text" placeholder="e.g. Sunil" />
      </div>

      <div>
        <button class="Submit-botns">Submit</button>
      </div>
    </form>
  </div>

  <!-- four-div -->

  <div class="kyc-completed-sec mt-3">
    <div class="text-center">
      <img src="../../assets/kyctick.png" alt="" />
      <h4 class="kyc-heading-four">KYC Completed</h4>
      <p class="kyc-paragraphs">
        Thanks for submitting your document we’ll verify it and complete your
        KYC as soon as possible
      </p>
    </div>
    <div class="text-center mt-3">
      <button class="back-to-home-botns">
        <i class="fa fa-chevron-left myarrow" aria-hidden="true"></i>Back to
        Home
      </button>
    </div>
  </div>
</section>
